body {
    font-size: 17px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.see-previous-scores {
    color: rgb(204, 0, 255);
}

.options-box,
.after-answer-clicked,
.end-screen-box h1,
.high-score-box h1,
.displays-previous-scores,
.high-score-btns {
    align-self: flex-start;
}

/*Start Page*/
.start-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    text-align: center;
}

/*Questions, result, view previous scores sections*/
.question-answer-box,
.end-screen-box,
.high-score-box {
    opacity: 0;
    transform: translate(-50%, -50%); 
    pointer-events: none;   
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
}

.end-screen-info form {
    display: flex;
    flex-wrap: wrap;
}
/*Classes added in javascript*/
.start-screen.click-start {
    opacity: 0;
}

.question-answer-box.activeQuestion {
    z-index: 2;
    opacity: 1;
    transform: translate(-50%, -50%); 
    pointer-events: auto;   
}

.after-answer-clicked hr {
    width: 540px;
}

.after-answer-clicked {
    font-style: italic;
}

.end-screen-box.activeEnd {
    z-index: 2;
    opacity: 1;
    transform: translate(-50%, -50%); 
    pointer-events: auto;   
}  

/*Styling for buttons and answer boxes*/
.start-quizbtn,
.option,
.initials-submitbtn,
.go-back,
.clear-scores {
    background-color: rgb(74, 0, 192);
    color: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 10px 15px;
}

/*Change color when you hover over btn + answer options*/
.start-quizbtn:hover,
.option:hover,
.initials-submitbtn:hover,
.go-back:hover,
.clear-scores:hover {
    background-color: rgb(225, 103, 255);
}

.option {
    margin-bottom: 10px;;
}

/*Line user submits initials*/
.final-score {
    width: 100%;
}

.initials-input {
    margin-right: 5px;
}


/*Style for previous scores*/
.displays-previous-scores {
    background-color:rgba(60, 0, 139, 0.219);
    width: 400px;
    margin-bottom: 15px;
}